body {
     background-color: #d5e1ef;
     display: flex;
     align-items: center;
     height: 100vh; 
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
    padding-top: 16px;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text{
    text-align:center;
    color: #1f314f;
    font-family: "outfit", sans-serif;
    font-style: normal;
    font-size: 22px;
    
}

.te{
    text-align: center;
    color: #68778d;
    font-family: "outfit", sans-serif;
    font-style: normal;
    font-size: 15px;
     
}