boby {
     background-color: #d5e1ef; 
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
    padding-top: 16px;
}
.qr {
    width: 288px;
    height: 288px;
    
}